doctype html
html
  head
    title GitLens
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.1.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js")
    script(src="https://unpkg.com/babel-standalone@6.26.0/babel.js")
    script(src="/javascripts/reactClient.js" type="text/babel")

  body
    div#GitLens
    div#title
    div#reload
    div#header
    div#repo
    div#filename
      h3#filenamename
    div#areas
      div#work
      div#cache
      div#tree