doctype html
html
  head
    title GitLens
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.1.1.js")
    script(src="https://unpkg.com/react@16.0.0-rc.3/umd/react.development.js")
    script(src="https://unpkg.com/react-dom@16.0.0-rc.3/umd/react-dom.development.js")
    script(src="https://unpkg.com/babel-standalone@6.26.0/babel.js")
    script(src="/javascripts/reactClient.js" type="text/babel")

  body
    div#title
    div#reload
    div#header
    div#repo
    div#filename
      h3#filenamename
    div#areas
      div#work
      div#cache
      div#tree