extends layout

block content
  h1= title
  p Welcome to #{title} 
  button#reload reload
  span autoreload
  input(type="checkbox", name="auto")#autoreload
  div#header
  div#repo
  div#filename
    h3#filenamename
  div#areas
    div#work
    div#cache
    div#tree
