doctype html
html
  head
    title='internals'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.1.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.7.15/cytoscape.min.js")
    script(src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.js")

    script(src="/javascripts/cytoscape-dagre.js")
    script(src="/javascripts/internals.js")

  body
    div#gitgraph
