body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:  white;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.reloader {
	flex-shrink: 0;
}

#repo {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.entry {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.entry:hover {
	background-color: #007bff;
}

.entry:hover > .entry-cell {
	color: white;
}

.header-entry {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 5px;
	text-decoration: underline;
}

.header-entry > div {
	width: 25%;
	text-align: center;
}

.entry-cell {
	padding: 4px;
	border-color: #ccc;
}
.entry:first-of-type .entry-area {
	border-top-width: 2px;
	border-top-style: solid;
}
.entry:last-of-type .entry-area {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.entry-area {
	border-width: 0 2px;
	border-style: solid;
	width: 25%;
}

.entry .diff-area {
	width: 5%;
	text-align: center;
}

.entry .diff {
	color: red;
}

.entry .diffcached {
	color: green;
}

#areas {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 15px;
	min-height: 100px;
	align-items: stretch;
}

#areas > div {
	width: 25%;
	border: 2px solid #ccc;
	padding: 4px;
    white-space: pre-wrap;
}

#gitgraph {
	height: 450px;
	background-color: #9ac3a7;
}

#filenamename {
	margin-top: 12px;
}
