body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:  #ffb366;
}

#repo {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.entry {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.entry:hover {
	background-color: #ff6600;
}

.entry:hover > #block1 {
	background-color: #ff6600;
	color: white;
	font-weight: bold;
}

.entry:hover > #block2 {
	background-color: #ff6600;
	color: white;
	font-weight: bold;
}

.entry:hover > #block3 {
	background-color: #ff6600;
	color: white;
	font-weight: bold;
}

.entry:hover > #block4 {
	background-color: #ff6600;
	color: white;
	font-weight: bold;
}

.entry:hover > #block5 {
	background-color: #ff6600;
	color: white;
	font-weight: bold;
}

.header-entry {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 5px;
	text-decoration: underline;
}

.header-entry > div {
	width: 25%;
	text-align: center;
}

.entry-cell {
	padding: 4px;
}

.entry:first-of-type .entry-area {
	border-top: 2px solid black;
	background-color: #ff9933;
}
.entry:last-of-type .entry-area {
	border-bottom: 2px solid black;
}

.entry-area {
	background-color: #ff9933;
	border-width: 0 2px;
	border-color: black;
	border-style: solid;
	width: 25%;
}

.entry .diff {
	width: 5%;
	text-align: center;
	color: red;
	
}

.entry .diffcached {
	width: 5%;
	text-align: center;
	color: green;
}

#areas {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 15px;
	min-height: 100px;
	align-items: stretch;
}

#areas > div {
	background-color: #ff9933;
	width: 25%;
	border: 2px solid black;
	padding: 4px;
    white-space: pre-wrap;
}

#gitgraph {
	height: 450px;
	background-color: #9ac3a7;
}

#filenamename {
	margin-top: 12px;
}

.title {
	background-color: #ff9933;
}