body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#repo {
	/*background-color:blue;*/
	width: 100%;
	display:flex;
	flex-direction: column;
	/*border: 1px solid black;*/
}

.entry{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.entry:hover {
	background-color:#c3c3c3;
}

.header-entry{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 5px;
	text-decoration: underline;
}

.header-entry>div{
	width:25%;
	text-align: center;
}

.entry-cell{
	padding: 4px;
}

.entry:first-of-type .entry-area{
	border-top: 1px solid black;
}
.entry:last-of-type .entry-area{
	border-bottom: 1px solid black;
}

.entry-area{
	border-width: 0 1px;
	border-color:black;
	border-style: solid;
	width: 25%;
}

.entry .work{
	/*width: 30%;*/
}
.entry .diff{
	width: 5%;
	text-align: center;
	color: red;
	
}
.entry .cache{
	/*width: 30%;*/
}
.entry .diffcached{
	width: 5%;
	text-align: center;
	color: green;
}
.entry .tree{
	/*width: 30%;*/
}

#areas{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 15px;
	min-height: 100px;
	align-items: stretch;
}

#areas > div{
	width: 25%;
	border: 1px solid black;
	padding: 4px;
    white-space: pre-wrap;
}